/*font-family: 'Cormorant SC', serif;
font-family: 'Josefin Slab', serif;*/
:root{
    --white: #fafafc;
    --lime: #678022;
    --green: #3C5420;
    --tan: #937143;
    --black: #323434;   
}

body{
    background-color: var(--white);
    max-width: 1080px;
    margin: auto;
}


h1{
    text-align:center;
    text-transform:uppercase;
    font-family: 'Cormorant SC', serif;
    font-size: 3em;
}

h2{
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 4vmax;
}

footer, p {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
}

footer{
    color:rgba(34, 33, 33,0.5);
    font-size: 14px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1em;
    gap: 20px 30px;
}


.navbar-brand{
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
}

.nav-link{
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 200ms ease-in-out;
    margin: auto 1em auto 1em;
}

.nav-link:hover, .nav-link:focus{
    text-decoration: overline;
    color: var(--lime);
}


.aboutImg{
    max-height: 300px;
}

.aboutPara > p > a {
    text-decoration: none;
    color: var(--tan);
    font-style: italic;
    
}

.meetBtn{
    margin: auto auto 5em auto;
    max-width: 40%;
    background-color: var(--lime);
    color: var(--white);
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}

.meetBtn:hover, .meetBtn:focus{
    background-color: var(--green);
}
.footerLink{
    text-decoration: none;
    color: black;
}

.fa-instagram{
    font-size: 20px;
    color: var(--lime);
}

.carouselContain{
    width: 50%;
}

@media (max-width: 769px){
    .navbar-brand{
        margin: auto auto auto 5%;
    }

    .row{
        margin: 0!important;
    }

    .description{
    text-align: center!important;
    padding: 10px;
  }

    .meetBtn{
        margin-top: 4em;
    }

}